In [19]:
import pandas as pd
import numpy as np
df = pd.read_csv("log_name_parsing.csv")

In [20]:
def recur_dictify(frame):
    if len(frame.columns) == 1:
        if frame.values.size == 1: 
            return frame.values[0][0]
        return frame.values.squeeze()
    grouped = frame.groupby(frame.columns[0])
    d = {k : recur_dictify(g.loc[:,1:]) for k,g in grouped}
    return d

In [21]:
cos_item_set = set()
temp = list()
for cos in df["category"]:
    cos_item_set.add(cos)
    temp.append(cos)
cos_item_list = list(cos_item_set)
for i in range(len(temp)):
    temp[i] = cos_item_list.index(temp[i])
df["category"]=temp

In [22]:
cos_name_set = set()
temp = list()
for cos in df["user_Name"]:
    cos_name_set.add(cos)
    temp.append(cos)
cos_name_list = list(cos_name_set)
for i in range(len(temp)):
    temp[i] = cos_name_list.index(temp[i])
df["user_Name"]=temp

df

      user_Name  category  stayTime
0           366         5        41
1           209        11        19
2           293        21         8
3           293         4         9
4           278        21        40
...         ...       ...       ...
1048        358        11         0
1049        219        21         0
1050        172        27         0
1051        196        11         0
1052         50        21         0

[1053 rows x 3 columns]

In [23]:
import surprise
scale_max = max(temp)
reader = surprise.Reader(rating_scale=(1,scale_max))

In [24]:
data = surprise.Dataset.load_from_df(df,reader)
trainset = data.build_full_trainset()
option = {"name":"pearson"}
algo = surprise.KNNBasic(sim_options=option)

In [47]:
algo.fit(trainset)

Computing the pearson similarity matrix...
Done computing similarity matrix.

In [48]:
user = "X1Ayl5myoEcP89M5J51BuAAAAAE"
user_idx = cos_name_list.index(user)

result = algo.get_neighbors(user_idx,k=3)
result = algo.get_neighbors(user_idx,k=3)
result

[156, 0, 1]

In [51]:
for r1 in result :
    max_rating= df[df["user_Name"] == r1]["stayTime"].max()
    print(max_rating)
    cos_id = df[(df["user_Name"] == r1)&(df["stayTime"]==max_rating)]["category"].values
    for r2 in cos_id:
        print(cos_item_list[r2])

19
model-and-actor
99
4050
19
artwork-dark
evil-omen