In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('log_data.CSV',sep=",",encoding="CP949")
new_df = pd.DataFrame()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004 entries, 0 to 1003
Data columns (total 23 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Visitor #                           1000 non-null   object
 1   Timestamp
GMT +9                    1000 non-null   object
 2   Visitor Id                          1000 non-null   object
 3   Repeat Visitor                      1000 non-null   object
 4   Number
of Visit                     1000 non-null   float64
 5   Visitor Name
(Premium)              0 non-null      float64
 6   Referrer                            1000 non-null   object
 7   Keywords                            213 non-null    object
 8   Entrance Page                       1000 non-null   object
 9   Visit Duration (seconds)
(Premium)  1000 non-null   object
 10  Visit Depth
(Premium)               1000 non-null   float64
 11  Conversions
(Premium)               0 non-null      float64
 12  Click Path
(Premium)                1000 non-null   object
 13  IP                                  1000 non-null   object
 14  Organization                        1000 non-null   object
 15  Country                             1000 non-null   object
 16  Region                              994 non-null    object
 17  City                                990 non-null    object
 18  Postal Code                         993 non-null    object
 19  Screen Size                         1000 non-null   object
 20  Browser                             1000 non-null   object
 21  OS                                  1000 non-null   object
 22  User Agent                          1000 non-null   object
dtypes: float64(4), object(19)
memory usage: 180.5+ KB

In [3]:
raw_url_list = df['Click Path\n(Premium)']
raw_url_list = raw_url_list.replace(np.nan,"")
url_list=[ x.split('>') for x in raw_url_list ]
del_category = np.array(["contact","for-english","about-studio","news","review-board","grapher","model","music","apply-event","print-copy",
                             "print","guide-body","map","lesson-photo","reservation-process","retouching-process","after-finish","profile-1","review",
                             "model-works","first-birthday","couple","tour","event","food","fighter","video-club","video-entertainment","video-excercise",
                            "video-fashion","video-music","video-sketch","video-wedding"])

In [4]:
def parsing(line, search_str):
    
    keyword_list = []
    temp_str = line[search_str-1].split(">")
    for t_str in temp_str:
        if t_str.find("com/") == -1 :
            continue
        t_str = t_str[t_str.find("com/")+len("com/"):]
        keyword_str = t_str[:t_str.find("(")]
        keyword_str = keyword_str.replace(" ","")
        seconds = (t_str[t_str.find("(")+len("("):])[:(t_str[t_str.find("(")+len("("):]).find(" ")]
        if "?" in keyword_str:
            keyword_str = keyword_str[:keyword_str.find("?")]
        if "/" in keyword_str:
            keyword_str = keyword_str[:keyword_str.find("/")]

        if np.where(keyword_str==del_category)[0].size == 0:
            keyword_list.extend([keyword_str,seconds])
    return keyword_list

In [5]:
for i in range(len(url_list)):
    temp = []
    if not parsing(url_list[i],0):
        continue
    else:
        temp = temp + [str(i+1)]
        for j in range(len(url_list[i])):
            if parsing(url_list[i],j):
                temp=temp+[parsing(url_list[i],j)[0]]
            
        new_df=new_df.append([temp],ignore_index=True)
            
            
print(new_df)
new_df.to_csv("log_order_parsing.csv",sep=",",encoding="utf-8-sig",index=False)

      0                1    2    3    4    5    6    7    8    9    10   11  \
0      4           street  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1      5             body  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2      7              dog  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3     10             body  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4     12             body  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
..   ...              ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
574  989           person  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
575  990           street  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
576  993  model-and-actor  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
577  998             body  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
578  999         lookbook  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

      12   13   14   15
0    NaN  NaN  NaN  NaN
1    NaN  NaN  NaN  NaN
2    NaN  NaN  NaN  NaN
3    NaN  NaN  NaN  NaN
4    NaN  NaN  NaN  NaN
..   ...  ...  ...  ...
574  NaN  NaN  NaN  NaN
575  NaN  NaN  NaN  NaN
576  NaN  NaN  NaN  NaN
577  NaN  NaN  NaN  NaN
578  NaN  NaN  NaN  NaN

[579 rows x 16 columns]